.result {
    margin: 20px;

}

.result h3,
.result h4,
.result h5 {
    font-weight: normal;
}

.result em {
    font-weight: bold;
}

h4>img {
    position: fixed;
    top: 20%;
    left: 30%;
    width: 150px;
    height: 150px;
    z-index: 2;

}